/* css variables start */
:root {
    --dark-purple: #4A1672;
    --purple: #6F3598;
    --light-purple: #906DE4;
    --lighter-purple: #dcd6f7;
    --lightest-purple: #f4eeff;
    --royal-blue: #362A68;
    --dark-text-color: #0A0335;
    --grey-text-color: #6B6B6B;
    --light-text-color: #ffffff;
}
/* css variables end */

/* font formatting start */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif!important;
}
main {
    margin: auto;
}
a {
    text-decoration: none;
}
h1{
    color: var(--dark-purple);
    font-weight: 700;
    text-shadow: 2px 2px 2px #fff;
    font-size: 4em;
    text-align: center;
}
h2 {
    font-size: 3em;
    text-align: center;
}
h3 {
    font-size: 2em;
    text-align: center;
}
p {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5;
}
.section-title {
    color: var(--dark-text-color);
}
.section-subtitle {
    color: var(--purple);
}
/* font formatting end */

/* override ui kit styles */
/* buttons */
.uk-button {
    font-size: inherit;
    border-radius: 4px;
}
.uk-button-default {
    padding: 5px 15px;
    background-color: var(--light-purple);
    color: var(--light-text-color);
    border: none;
    width: 80%;
}
.uk-button-default:hover {
    background-color: var(--dark-purple);
    color: var(--light-text-color);
}
.uk-button-text {
    font-size: 1vw;
    color: var(--light-text-color);
    font-weight: 400;
    opacity: .5;
}
.uk-button-text:hover {
    color: var(--light-text-color);
    text-decoration: none;
    font-weight: 700;
    opacity: 1;
}
/* cards */
.uk-card {
    border-radius: 4px;
}
/* containers */
.uk-container-expand {
    background-color: var(--lighter-purple);
    color: var(--grey-text-color);
}
.uk-container-expand:nth-child(2n) {
    background-color: var(--lightest-purple);
    color: var(--dark-text-color);
}
/* cover */
.uk-cover-container {
    background: url(../img/bg.jpg);
    height: 500px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
/* forms */
.uk-form-large {
    width: 80%;
}
/* navbar */
.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: var(--dark-purple);
}
.uk-navbar-container:not(.uk-navbar-transparent) ul li a{
    color: var(--light-text-color);
    font-weight: 400;
    opacity: .7;
}
.uk-navbar-container ul li a:hover {
    font-weight: 700;
    opacity: 1;
}
ul.uk-navbar-nav li.uk-active a{
    font-weight: 700;
    opacity: 1;
}
/* override ui kit styles end */

/* navbar styles start */
.nav-icon {
    position: relative;
    width: 50;
    vertical-align: middle;
}
/* navbar styles end */

/* hero styles start */
.hero-text {
    text-align: center;
}
.hero-subtitle {
    color: var(--dark-text-color);
}
.hero-buttons {
    width: 50%;
}
/* hero styles end */

/* stats styles start */
.grid-stat-titles p {
    text-align: left;
}
.grid-stat-values p {
    text-align: right;
}
.stats {
    margin: auto;
}
/* stats styles end */

/* search history styles start */
.search-history-button {
    width: auto;
}
/* search history styles end */

/* footer styles */
footer {
    text-align: center;
    font-size: 0.75vw;
    background-color: var(--dark-purple);
    bottom: 0;
}
footer p {
    color: var(--light-text-color);
    opacity: .4;
}
/* footer styles end */

/* FROM GOOGLE MAPS */
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
}
#description {
    font-size: 15px;
    font-weight: 400;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-size: 13px;
    font-weight: 400;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-left: 12px;
    padding: 5px 11px 5px 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    background-color: #fff;
    border-color:  #906DE4;
}

#title {
    color: #fff;
    background-color: #906DE4;
    font-size: 25px;
    font-weight: 700;
    padding: 6px 12px;
}

/* typeahead for states */
.uk-cover-container.stats{
    overflow: visible;
}
.tt-menu {
    font-size: 1.5em;
    text-align: left;
    color: var(--dark-purple);
    width: 422px;
    margin: 5px 0;
    padding: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    position: relative;
}
.tt-suggestion{
    padding: 5px;
}
.tt-cursor{
    color: #fff;
    background-color: #906DE4;
}

/* Tablets and Smaller */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 6vw;
    }
    h3 {
        font-size: 5vw;
    }
    p, .uk-button-text {
        font-size: 3vw;
    }
    .uk-card {
        width: 100%;
    }
    .uk-flex {
        flex-direction: column;
        align-items: center;
    }
    .hero-buttons {
        width: 75%;
    }
    .uk-container {
        margin: 0px;
    }
    .uk-cover-container {
        height: auto;
    }
    .uk-button-default:hover {
        background-color: var(--light-purple);
    }
    .uk-margin-left {
        margin-left: 0px!important;
        margin-top: 20px;
    }
    #stats-container {
        padding: 0px;
    }
}

/* Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    h2 {
        font-size: 9vw;
    }
    h3 {
        font-size: 7.5vw;
    }
    p, .uk-button-text {
        font-size: 5vw;
    }
    .hero-buttons {
        width: 100%;
    }
    #homeLink{
        display: none;
    }
}