/* css variables start */
:root {
    --dark-purple: #4A1672;
    --purple: #6F3598;
    --light-purple: #906DE4;
    --lighter-purple: #dcd6f7;
    --lightest-purple: #f4eeff;
    --royal-blue: #362A68;
    --dark-text-color: #0A0335;
    --grey-text-color: #6B6B6B;
    --light-text-color: #ffffff;
}
/* css variables end */

/* font formatting start */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito Sans', sans-serif!important;
}
main {
    margin: auto;
}
a {
    text-decoration: none;
}
h1{
    color: var(--dark-purple);
    font-weight: 700;
    text-shadow: 2px 2px 2px #fff;
    font-size: 4em;
    text-align: center;
}
h2 {
    font-size: 3em;
    text-align: center;
}
h3 {
    font-size: 2em;
    text-align: center;
}
p {
    font-weight: 400;
    font-size: 1.5em;
    line-height: 1.5;
}
.section-title {
    color: var(--dark-text-color);
}
.section-subtitle {
    color: var(--purple);
}
/* font formatting end */

/* override ui kit styles */
.uk-badge {
    padding: 10px;
    margin: 0px;
}
/* buttons */
.uk-button {
    font-size: inherit;
}
.uk-button-default:visited,
.uk-button:focus,
.uk-button-default:active,
.uk-button-default {
    padding: 5px 15px;
    background-color: var(--light-purple);
    color: var(--light-text-color);
    border: none;
    width: 80%;
}
.uk-button-default:hover {
    background-color: var(--dark-purple);
    color: var(--light-text-color);
}
.uk-button-text {
    font-size: 1vw;
    color: var(--light-text-color);
    font-weight: 400;
    opacity: .5;
}
.uk-button-text:hover {
    color: var(--light-text-color);
    text-decoration: none;
    font-weight: 700;
    opacity: 1;
}
/* cards */
.uk-card {
    border-radius: 4px;
}
/* containers */
.uk-container-expand {
    background-color: var(--lighter-purple);
    color: var(--grey-text-color);
}
.uk-container-expand:nth-child(2n) {
    background-color: var(--lightest-purple);
    color: var(--dark-text-color);
}
/* cover */
.uk-cover-container {
    background: url(../img/bg.jpg);
    height: 500px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
/* forms */
.uk-form-large {
    width: 80%;
}
/* navbar */
.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: var(--dark-purple);
}
.uk-navbar-container:not(.uk-navbar-transparent) ul li a{
    color: var(--light-text-color);
    font-weight: 400;
    opacity: .5;
    transition: opacity .4s ease-out;
    -moz-transition: opacity .4s ease-out;
    -webkit-transition: opacity .4s ease-out;
    -o-transition: opacity .4s ease-out;
}
.uk-navbar-container ul li a:hover {

    opacity: 1;
}
.uk-navbar-container ul li a::before {
    display: block;
    content: attr(title);

    height: 0;
    overflow: hidden;
    visibility: hidden;
}
ul.uk-navbar-nav li.uk-active a{
    opacity: 1;
}
.uk-panel {
    border: none;
}
.uk-panel-scrollable {
    height: 700px;
    resize: none;
}
/* override ui kit styles end */

/* navbar styles start */
.nav-icon {
    position: relative;
    width: 50;
    vertical-align: middle;
}
/* navbar styles end */

/* hero styles start */
.hero-text {
    text-align: center;
}
.hero-subtitle {
    color: var(--dark-text-color);
}
.hero-buttons {
    width: 50%;
}
/* hero styles end */

/* stats styles start */
.grid-stat-titles p {
    text-align: left;
}
.grid-stat-values p {
    text-align: right;
}
.stats {
    margin: auto;
}
/* stats styles end */

/* search history styles start */
.search-history-button {
    width: auto;
}
/* search history styles end */

/* footer styles */
footer {
    text-align: center;
    font-size: 0.75vw;
    background-color: var(--dark-purple);
    bottom: 0;
}
footer p {
    color: var(--light-text-color);
    opacity: .4;
}
/* footer styles end */

/* FROM GOOGLE MAPS */
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
    opacity:0;
}
#strict-bounds-selector,
#type-selector{
    display: none;
}
#pac-card{
    opacity: 0;
}
#pac-input{
    margin-top: 10px;
}
#map-wrapper {
    background:url(../img/loader.svg) center 100px no-repeat;
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
}
#description {
    font-size: 15px;
    font-weight: 400;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-size: 13px;
    font-weight: 400;
}

#pac-input {
    background-color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-left: 12px;
    padding: 5px 11px 5px 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    background-color: #fff;
    border-color:  #906DE4;
}

#title {
    color: #fff;
    background-color: #906DE4;
    font-size: 25px;
    font-weight: 700;
    padding: 6px 12px;
}
#firstHeading {
    font-size: 20px;
}

#infoWindowBodyContent .infoWindowParagraph {
    font-size: 15px;
}

#infoWindowContent {
    max-width: 324px;
}
.uk-navbar-container .uk-navbar{
    background-color: #906DE4; 
}
.uk-tab{
    padding: 0;
    margin-left: -5px;
}
.uk-tab li a{
    font-size: 13px;
    padding: 0;
}
.uk-tab>.uk-active>a{
    border-color: #906DE4;
    color: #906DE4;
    font-weight: 700;
}
#mobileNav{
    visibility: hidden;
}
/* Tablets and Smaller */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 6vw;
    }
    h3 {
        font-size: 5vw;
    }
    p, .uk-button-text {
        font-size: 3vw;
    }
    .uk-card {
        width: 100%;
    }
    .uk-flex {
        flex-direction: column;
        align-items: center;
    }
    .hero-buttons {
        width: 75%;
    }
    .uk-container {
        margin: 0px;
    }
    .uk-cover-container {
        height: auto;
    }
    .uk-button-default:hover {
        background-color: var(--light-purple);
    }
    .uk-margin-left {
        margin-left: 0px!important;
        margin-top: 20px;
    }
    #stats-container {
        padding: 0px 15px;
    }
}
/* Mobile Phones and Smaller */
@media screen and (max-width: 575px) {
    h2 {
        font-size: 9vw;
    }
    h3 {
        font-size: 7.5vw;
    }
    p, .uk-button-text {
        font-size: 5vw;
    }
    .hero-buttons {
        width: 100%;
    }
    #homeLink{
        display: none;
    }
    #homeLink,
    #statLink,
    #mapLink,
    #historyLink{
        visibility: hidden;
    }
    #mobileNav{
        visibility: visible;
    }
    #hero{
        padding: 25px 0;
    }
    #hero p{
        font-size: 1em;
    }
    .hero-title{
        margin-top: 25px;
    }
    footer .uk-button-text,
    footer p{
        font-size: 2.5em;
    }
    .uk-tab{
        margin-left: 80px;
    }
    .uk-table td{
        font-size: 12px;
    }
    #stats-container .uk-search,
    #stats-container .uk-description-list,
    #stats-container {
        padding: 0px 50px;
    }
    body{
        overflow-x: hidden;
    }
}
/* mobile nav */
 #menuToggle
 {
   display: block;
   position: relative;
   top: 25px;
   left: 50px;
   z-index: 1;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #232323;
   transition: font-weight 0.3s ease;
   transition: color 0.3s ease;
 }
 #menuToggle a:hover
 {
   color: #4A1672;
   font-weight: 700;
 }
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; /* hide this */
   z-index: 2; /* and place it over the hamburger */
   -webkit-touch-callout: none;
 }
 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #fff;
   opacity: .6;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
   background: 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #4A1672;
 }
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 125px;
   background: #ededed;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
